.body {
  background-image: url("./assets/mountain-background.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  height: 98vh;
  width: 100vw;
  overflow: hidden;
  margin: 0%;
  padding: 0%;
}
